# Ignore files without any extension
*
!/**/
!*.wav
!*.png
!*.svg
!*.gif
!*.ipynb
!*.md
!*.markdown
!*.yml

# macos
.DS_Store

# Jekyll
!Gemfile
_site
.sass-cache
.jekyll-metadata

# Jupyter Notebooks
notebook/result/
notebook/.ipynb_checkpoints/

# 
sync
nb/
